@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    position: relative;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    background-image: url("/Jadavpur_University_Hero.jpg");
    background-size: cover;
    position: absolute;
    top: -50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    filter: brightness(40%);
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
